{
    margin: 0;
    padding: 0;
}

#tracer {
    background:url("../images/tracer.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    z-index: -1;
}

#killdeath {
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#success {
    text-align:center;
}

#table1 {
    position: relative;
}

.button {
    background-color: #0099ff; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

* {
    padding: 0;
}

li {
    float: left;
}

li a, .stats,#stats,#patchnotes {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,.stats:hover,#stats:hover,#patchnotes:hover {
    background-color: #111;
}

.banner {
    height: 16%;
    width: 99%;
    opacity: 0.8;
}

h1 {
    color: #c9d0d4;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 46px;
    font-weight: 100;
    line-height: 50px;
    letter-spacing: 1px;
    padding: 0 0 40px;
    border-bottom: double #555;
}

footer {
    position: fixed;
    bottom: 0%;
    margin: 0;
    padding: 0;
}


.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    margin-top: 2px;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.ui-autocomplete > li {
    padding: 3px 20px;
}
.ui-autocomplete > li.ui-state-focus {
    background-color: #DDD;
}
.ui-helper-hidden-accessible {
    display: none;
}


